<?xml version="1.0" encoding="utf-8"?>
<!-- Astro OS for Android: a pure native app (no Java code), run through NativeActivity. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.astro.os">

    <application
        android:label="Astro OS"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:allowBackup="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Astro OS"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout|smallestScreenSize|uiMode|density|navigation">

            <meta-data android:name="android.app.lib_name" android:value="astro" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
